.main-layout {
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin-top: 60px;
  flex: 1;
  background: var(--color-bg);
  transition: background var(--transition);
}
